body{
    background: rgba(194, 179, 179, 0.94);
}

.text-center{

}
/*.text-center div{*/
/*    border: 2px solid #C0C0C0;*/
/*}*/
.others{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.main-img{
    height: 500px;
    width: 800px;
}
.img{
    height: 200px;
    width: 200px;
}
.img2{
    height: 200px;
    width: 200px;
}
.img3{
    height: 200px;
    width: 200px;
}

.border{
    border: 10px solid #cbccce;
}