body{
    background: #cbccce;
}

.text-center{

}
/*.text-center div{*/
/*    border: 2px solid #C0C0C0;*/
/*}*/
.others{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.main-img{
    height: 500px;
    width: 800px;
}
.img{
    height: 200px;
    width: 200px;
    margin: 30px 10px;
    border: 2px solid transparent;
}

.border{
    border: 2px solid #8888e0 !important;
}
